@charset "utf-8";
/** Author :Sunggoon Go  /  Version : 1.0  /  Date : 2022-10-24 **/

/*=============================================
* 공통
=============================================*/
/* 폰트 설정 */
@import "./font.css";
*{font-family: "Noto Sans", "Noto Sans Korean" !important; }

body{background-color:#f0f1f5;}
/*======/   END 공통   /======*/


/*=============================================
* CONTENT
=============================================*/
.headerSection{position:fixed; z-index:99; top:0px; width:100%; height:60px; background-color:#fff; box-shadow:0px 5px 5px 0px rgb(0 0 0 / 7%); padding:17px 20px; display:flex; justify-content:space-between;}
.headerSection .logo{width:95px; }
.headerSection .logo img{width:95px; height:31px;}

.footerSection{background-color:#393a3d; border-top:1px solid #8e8f93; padding:25px 20px;}
.footerBox{display: flex;justify-content: center;gap: 15px 20px;flex-wrap: wrap;}
.footerBox .ftLogo{width:40px; height:52px;}
.footerBox .ftLogo img{width:40px; height:52px;}
.footerBox .ft-info{font-size:12px; color:#fff;}
.footerBox .ft-copy{margin-top:15px;}
/*======/   END CONTENT   /======*/


/*=============================================
* TABLE - 테이블
=============================================*/
.table-tp2{border-top:2px solid #063164;}
.table-tp2 thead th{background-color:#f6f6f6; height:50px; padding:8px; vertical-align:middle; text-align:center; border-bottom:none;}
.table-tp2 tbody th{background-color:#f6f6f6; padding:10px 10px; vertical-align:middle; height:50px; vertical-align:middle;}
.table-tp2 tbody td{box-sizing:border-box; height:50px; padding:10px;vertical-align:middle; color:#333;}
.table-tp2 tfoot th{background-color:#f6f6f6; padding:0px; vertical-align:middle;  height:50px; vertical-align:middle;}
.table-tp2 tfoot td{box-sizing:border-box; height:50px; vertical-align:middle;}
.table-tp2 thead th, .table-tp2 tbody th, .table-tp2 tfoot th{font-size:16px; color:#333;} /* TH 사이즈 */
.table-tp2 tbody td, .table-tp2 tfoot td{font-size:16px; color:#333;} /* TD 사이즈 */
.table-tp2 tr:last-child, .table-bordered tr:last-child td{border-bottom:1px solid #ddd;} /* 테이블 하단 칼라 */
.table-tp2 thead tr, .table-tp2 tbody tr{height:80px; border-bottom:1px solid #ddd;}
.table-tp2 tbody{border-bottom:1px solid #ddd;} /* 테이블 하단 칼라 */
.table-tp2.th-tc th{text-align:center;}

.table-tp3{width:100%; box-sizing:border-box;}
.table-tp3 thead th{background-color:#344589; padding:10px; vertical-align:middle; text-align:center; border:1px solid #202F6A; color:#fff; height:50px; }
.table-tp3 tbody th{background-color:#f6f6f6; padding:10px; vertical-align:middle; height:50px; font-weight:500; vertical-align:middle; border:1px solid #ddd; text-align:left; color:#333;}
.table-tp3 tbody td{box-sizing:border-box; padding:10px;vertical-align:middle; color:#666; border:1px solid #ddd; font-weight:400; font-size:15px; height:50px;}
.table-tp3 td:first-child, .table-tp3 th:first-child{border-left:none;}
.table-tp3 td:last-child, .table-tp3 th:last-child{border-right:none;}
.table-tp3 tr:last-child > th, .table-tp3 tr:last-child > td {border-bottom:none; border-top:none}
.table-tp3 tbody{border-bottom:1px solid #bbb; border-top:2px solid #344589;}
/*======/   END TABLE   /======*/


/*=============================================
* TAB LIST - 탭 리스트
=============================================*/
/* tabListBox */
.tabListBox{overflow:hidden; position:relative; margin:0px auto;  transition:width 0.2s;}
.tabListBox li {float:left; text-align:center; border:1px solid  #ccc; border-left:0; border-bottom:2px solid #283561; background-color:#fff; box-sizing:border-box;}
.tabListBox li:first-child {border-left:1px solid #ccc;}
.tabListBox li > a {display:block; height:60px; line-height:60px; font-size:18px; color:#222; padding:0px 20px;}
.tabListBox li > button{width:100%; height:60px; line-height:60px; font-size:18px; color:#222; padding:0px 20px; background-color:#fff;}
.tabListBox li > button:disabled{background-color:#eee; color:#bbb;}
.tabListBox li.on{border:1px solid #283561; border-bottom:2px solid #283561; background-color:#283561; color:#fff;}
.tabListBox li.on > button{border:1px solid #283561;  background-color:#283561; color:#fff;}
.tabListBox li.on > a {color:#fff;}

/* .tabListBox-tp2{overflow:hidden; position:relative; margin:0px auto;  transition:width 0.2s;}
.tabListBox-tp2 ul{font-size:0; text-align:center; border-bottom:1px solid #999;}
.tabListBox-tp2 li{display:inline-block; margin-right:55px; position:relative;}
.tabListBox-tp2 li > a{display:inline-block; height:60px; line-height:60px; font-size:18px; padding:0px 20px; border-radius:0px; font-size:20px; color:#222; background-color:#ddd; min-width:150px;}
.tabListBox-tp2 li > button{width:100%; height:60px; line-height:60px; font-size:18px; color:#222; padding:0px 20px; border-radius:0px; font-size:20px; color:#222; background-color:#ddd; min-width:150px;}
.tabListBox-tp2 li > button:disabled{background-color:#eee; color:#bbb;}
.tabListBox-tp2 li.on{top:1px;}
.tabListBox-tp2 li.on > a{border:1px solid #999; border-top:2px solid #344589; border-bottom:none; background-color:#fff;}
.tabListBox-tp2 li.on > button{border:1px solid #999; border-top:2px solid #344589; border-bottom:none; background-color:#fff;}

.tabListBox-tp2.arrow li:after{content:""; background:url('src/assets/icon/arrow-left.png') no-repeat; width:20px; height:30px; display:inline-block; position:absolute; top:15px; right:-38px;}
.tabListBox-tp2.arrow li:last-child:after{margin-right:0; content:none;}

.tabListBox-tp2.pd ul{display:inline-block; width:100%; overflow:initial;}
.tabListBox-tp2.pd li{margin-right:0px; padding:0px 20px;} */

/* .tabListBox-tp3{overflow:hidden;}
.tabListBox-tp3 > ul{font-size:0; text-align:center;}
.tabListBox-tp3 li{display:inline-block; margin-right:55px; position:relative; }
.tabListBox-tp3 li .box{display:inline-block; width:200px; height:110px; background-color:#f1f2f7; border-radius:10px; padding-top:25px;}
.tabListBox-tp3 li .txt1{color:#333; font-size:16px; font-weight:500;}
.tabListBox-tp3 li .txt2{color:#344589; font-size:20px; font-weight:700; margin-top:10px;}
.tabListBox-tp3 li:after{content:""; background:url('src/assets/icon/arrow-left.png') no-repeat; width:20px; height:30px; display:inline-block; position:absolute; top:40px; right:-38px;}
.tabListBox-tp3 li:last-child:after{margin-right:0; content:none;}
.tabListBox-tp3 li.on .box{background-color:#fff; border:2px solid #344589;} */
/*======/   END TAB LIST   /======*/


/*=============================================
* UL LIST  - li 리스트
=============================================*/
ul.ul0{overflow:hidden;}
ul.ul0 > li{float:left; box-sizing:border-box;}
ul.li2 > li{width:50%;} ul.li3 > li{width:33.33%;} ul.li4 > li{width:25%;} ul.li5 > li{width:20%;} ul.li6 > li{width:16.66%;}
ul.li7 > li{width:14.285%;}  ul.li8 > li{width:12.5%;}  ul.li9 > li{width:11.111%;} ul.li10 > li{width:10%;}

li.li2{width:50%;}  li.li3{width:33.33%;}  li.li4{width:25%;}  li.li5{width:20%;}  li.li6{width:16.66%;}
li.li7{width:14.285%;}  li.li8{width:12.5%;}  li.li9{width:11.111%;}  li.li10{width:10%;}

ul.dot{overflow:hidden;}
ul.dot > li{color:#333; margin-bottom:7px;}
ul.dot > li:before{content: ""; display:inline-block;width:3px;height:3px; border-radius:50%;background:#333; vertical-align:middle; margin-right:6px;}
ul.dot > li:last-child{margin-bottom:0px;}

ul.dot-tp2{overflow:hidden;}
ul.dot-tp2 > li{color:#333; margin-bottom:7px; position:relative; padding-left:10px;}
ul.dot-tp2 > li:before{content: ""; display:inline-block;width:3px;height:3px; border-radius:50%;background:#333; vertical-align:middle; margin-right:6px; position:absolute; left:0px; top:8px;}
ul.dot-tp2 > li:last-child{margin-bottom:0px;}

/*  밑줄 라인 */
ul.dot.tp2 > li{border-bottom:1px solid #dadada; padding:10px;}
ul.dot.tp2 > li.on{background-color:#f8f8f8;}
ul.dot.tp2 > li em{font-weight:500; color:#333; font-style:normal; margin-right:5px;}

ul.line{overflow:hidden;}
ul.line > li{display:inline-block; box-sizing:border-box;}
ul.line > li:after{content: ""; display:inline-block;width:1px;height:16px;background:#ccc; margin:0px 15px;  position:relative; vertical-align:middle;}
ul.line > li:last-child::after{content:none;}

ul.lineb > li{border-bottom:1px solid #ddd; padding:15px 0px; overflow:hidden;}
ul.lineb > li em{font-weight:500; color:#333; margin-right:10px;}
ul.lineb > li:last-child{border-bottom:none;}

ul.lib0 > li{margin-bottom:0px;} ul.lib1 > li{margin-bottom:1px;} ul.lib2 > li{margin-bottom:2px;} ul.lib3 > li{margin-bottom:3px;} ul.lib4 > li{margin-bottom:4px;} ul.lib5 > li{margin-bottom:5px;} 
ul.lib6 > li{margin-bottom:6px;} ul.lib7 > li{margin-bottom:7px;} ul.lib8 > li{margin-bottom:8px;} ul.lib9 > li{margin-bottom:9px;} ul.lib10 > li{margin-bottom:10px;} ul.lib15 > li{margin-bottom:15px;} 
ul.lib20 > li{margin-bottom:20px;} ul.lib25 > li{margin-bottom:25px;} ul.lib22> li{margin-bottom:22px;}  ul.lib23 > li{margin-bottom:23px;}  ul.lib24 > li{margin-bottom:24px;} ul.lib25 > li{margin-bottom:25px;}
ul.lib26 > li{margin-bottom:26px;} ul.lib27 > li{margin-bottom:27px;} ul.lib28 > li{margin-bottom:28px;} ul.lib29 > li{margin-bottom:29px;} ul.lib30 > li{margin-bottom:30px;}

ul.lit5 > li{margin-top:5px;} ul.lit10 > li{margin-top:10px;} ul.lit15 > li{margin-top:15px;} ul.lit20 > li{margin-top:20px;} ul.lit21 > li{margin-top:21px;} ul.lit22> li{margin-top:22px;} ul.lit23 > li{margin-top:23px;} 
ul.lit24 > li{margin-top:24px;} ul.lit25 > li{margin-top:25px;} ul.lit26 > li{margin-top:26px;} ul.lit27 > li{margin-top:27px;} ul.lit28 > li{margin-top:28px;} ul.lit29 > li{margin-top:29px;} ul.lit30 > li{margin-top:30px;}

ul.lil5 > li{padding-left:5px;} ul.lil6 > li{padding-left:6px;} ul.lil7 > li{padding-left:8px;} ul.lil8 > li{padding-left:8px;} ul.lil9 > li{padding-left:9px;} ul.lil10 > li{padding-left:10px;} ul.lil11 > li{padding-left:11px;} 
ul.lil12 > li{padding-left:12px;} ul.lil13 > li{padding-left:13px;} ul.lil14 > li{padding-left:14px;} ul.lil15 > li{padding-left:15px;} ul.lil16 > li{padding-left:16px;} ul.lil17 > li{padding-left:17px;} ul.lil18 > li{padding-left:18px;}
ul.lil19 > li{padding-left:19px;} ul.lil20 > li{padding-left:20px;} ul.lil21 > li{padding-left:21px;} ul.lil22> li{padding-left:22px;}  ul.lil23 > li{padding-left:23px;} ul.lil24 > li{padding-left:24px;} ul.lil25 > li{padding-left:25px;} 
ul.lil26 > li{padding-left:26px;} ul.lil27 > li{padding-left:27px;} ul.lil28 > li{padding-left:28px;} ul.lil29 > li{padding-left:29px;} ul.lil30 > li{padding-left:30px;} ul.lil35 > li{padding-left:35px;} ul.lil40 > li{padding-left:40px;}

ul.lir5 > li{padding-right:5px;} ul.lir6 > li{padding-right:6px;} ul.lir7 > li{padding-right:8px;} ul.lir8 > li{padding-right:8px;} ul.lir9 > li{padding-right:9px;} ul.lir10 > li{padding-right:10px;} ul.lir11 > li{padding-right:11px;} 
ul.lir12 > li{padding-right:12px;} ul.lir13 > li{padding-right:13px;} ul.lir14 > li{padding-right:14px;} ul.lir15 > li{padding-right:15px;} ul.lir16 > li{padding-right:16px;} ul.lir17 > li{padding-right:17px;} ul.lir18 > li{padding-right:18px;}
ul.lir19 > li{padding-right:19px;} ul.lir20 > li{padding-right:20px;} ul.lir21 > li{padding-right:21px;} ul.lir22> li{padding-right:22px;}  ul.lir23 > li{padding-right:23px;} ul.lir24 > li{padding-right:24px;} ul.lir25 > li{padding-right:25px;} 
ul.lir26 > li{padding-right:26px;} ul.lir27 > li{padding-right:27px;} ul.lir28 > li{padding-right:28px;} ul.lir29 > li{padding-right:29px;} ul.lir30 > li{padding-right:30px;} ul.lir35 > li{padding-right:35px;} ul.lir40 > li{padding-right:40px;}

ul.lib > li:last-child{margin-bottom:0px;} ul.lit > li:first-child{margin-top:0px;} ul.lil li:last-child{margin-left:0px;} ul.lir li:last-child{margin-right:0px;}
/*======/   END UL LIST    /======*/


/*=============================================
* BUTTON - 버튼
=============================================*/
/* 공통 */
.btn{display: inline-block;font-weight: 400;line-height: 1.5;color: #212529;text-align: center;text-decoration: none;vertical-align: middle;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;user-select: none;background-color: #0000;border: 1px solid #0000;padding: 0.375rem 0.75rem;font-size: 1rem;border-radius: 0.25rem;transition:all 0.3s cubic-bezier(0, 0.17, 0, 1.22);}
.btn:active{outline: 0;background-image:none; box-shadow:inset 0 3px 5px rgba(0,0,0,.125);}
.btn:focus, button:focus{outline:none;}

/*  라인 */
.btn.bdGray {background-color:#fff; border-color:#aaa; color:#666;}
.btn.bdGray:hover{background-color:#f8f8f8;}
.btn.bdGray[disabled] {border-color: #7d7d7d !important;background-color: #7d7d7d;}

.btn.bdGray2{background-color:#fff; border-color:#555; color:#555;}
.btn.bdGray2:hover{background-color:#f8f8f8;}
.btn.bdGray2[disabled] {border-color: #7d7d7d !important;background-color: #7d7d7d;}

.btn.bdBlue{background-color:#fff; border-color:#344589; color:#344589;}
.btn.bdBlue:hover{border-color:#00518c !important;background-color:#f8f8f8;}
.btn.bdBlue[disabled] {border-color: #7d7d7d !important;background-color: #7d7d7d;}

.btn.bdRed{background-color:#fff; border-color:#e54e48; color:#e54e48;}
.btn.bdRed:hover{background-color:#f8f8f8;}
.btn.bdRed[disabled] {border-color: #7d7d7d !important;background-color: #7d7d7d;}

.btn.bdGreen{background-color:#fff; border-color:#00A685; color:#00A685;}
.btn.bdGreen:hover{background-color:#f8f8f8;}
.btn.bdGreen[disabled] {border-color: #7d7d7d !important;background-color: #7d7d7d;}

/*  배경 */
.btn.wh{background-color:#fff; border:1px solid #ddd; color:#666;}
.btn.wh:hover{background-color:#f8f8f8; border:1px solid #f7f7f7; border:1px solid #d3d3d3;}

.btn.gray {background-color:#555; border-color:#555; color:#fff;}
.btn.gray:hover{border-color:#505050 !important; background-color:#505050;}
.btn.gray[disabled]{border-color:#7a7a7a !important; background-color:#adadad; color:#e7e7e7;}

.btn.gray2{background-color:#555; border-color:#555; color:#fff;}
.btn.gray2:hover {border-color:#444 !important; background-color:#444;}
.btn.gray2[disabled]{border-color:#7a7a7a !important; background-color:#adadad; color:#e7e7e7;}

.btn.gray3{background-color:#ECECEC; border-color:#C4C4C4; color:#333;}
.btn.gray3:hover {border-color:#949494 !important; background-color:#dfdfdf;}
.btn.gray3[disabled]{border-color:#7a7a7a !important; background-color:#adadad; color:#e7e7e7;}

.btn.gray4{background-color:#eee; border-color:#eee; color:#333;}
.btn.gray4:hover {border-color:#ddd !important; background-color:#ddd;}
.btn.gray4[disabled]{border-color:#7a7a7a !important; background-color:#adadad; color:#e7e7e7;}

.btn.blue{background-color:#344589; border-color:#344589; color:#fff;}
.btn.blue:hover{border-color:#28356a !important; background-color:#28356a;}
.btn.blue[disabled]{border-color:#7a7a7a !important; background-color:#adadad; color:#e7e7e7;}

.btn.green{background-color:#00A685; border-color:#00A685; color:#fff;}
.btn.green:hover{border-color:#00886c !important; background-color:#00886c;}
.btn.green[disabled]{border-color:#7a7a7a !important; background-color:#adadad; color:#e7e7e7;}

.btn.red{background-color:#e54e48; border-color:#e54e48; color:#fff;}
.btn.red:hover{border-color:#df2e24 !important; background-color:#df2e24;}
.btn.red[disabled]{border-color:#7a7a7a !important; background-color:#adadad; color:#e7e7e7;}

.btn.yel{background-color:#f8b500; border-color:#f8b500; color:#fff;}
.btn.yel:hover{border-color:#f8b500 !important; background-color:#f2af00;}
.btn.yel[disabled]{border-color:#7a7a7a !important; background-color:#adadad; color:#e7e7e7;}

.btn-darkblue {background-color:#33406d; border-color: #33406d; color:#fff;}
.btn-darkblue:hover{border-color: #222b48 !important;background-color:#222b48;}
.btn-darkblue[disabled] {border-color: #7688a7 !important;background-color: #7688a7;}

/* 버튼 사이즈 */
.btn.s{height:28px;  line-height:28px; font-size:13px; font-weight:300; padding:0px 15px;}
.btn.m{height:30px; line-height:30px; font-size:13px; font-weight:300; padding:0px 15px;}
.btn.l{height:40px; line-height:40px; font-size:16px; font-weight:500; padding:0px 15px;}
.btn.xl{height:55px; line-height:55px; font-size:18px; font-weight:700; padding:0px 25px;}
.btn.xxl{height:60px; line-height:60px; font-size:18px; font-weight:700; padding:0px 25px;}

.btn.txt{padding:0px 5px; height:auto; vertical-align:inherit;}
.btn.search .icon{font-size:35px; line-height:0; overflow:hidden; font-weight:300;}
.btn.plus, .btn.minus{background-color:#fff; border:1px solid #bbb; padding:0px 5px; height:23px; line-height:10px;}
.btn.plus-tp2, .btn.minus-tp2{background-color:#fff; border:1px solid #bbb; padding:0px 5px; height:40px; width:40px; line-height:10px;}
.btn.plus .icon, .btn.minus .icon{font-size:13px;}
/*======/   END BUTTON   /======*/


/*=============================================
* BADGE - 라벨 뱃지 등
=============================================*/
/* 배지 */
.badge{display:inline-block;min-width:10px;padding:3px 10px;font-size:12px; font-weight:400 ;line-height:1;color:#fff;text-align:center;white-space:nowrap; background-color: #777;border-radius:3px;}

/* 칼라 */
.badge.green{background-color:#7db50a;} .badge.yel{background-color:#ffb71b; color:#333;} .badge.red{background-color:#EF5D58;} .badge.blue{background-color:#0068B4;} 
.badge.pink{background-color:#e54582;} .badge.sky{background-color:#11a9e1;} .badge.wht{background-color:#fff; color:#222;}

/* 라인 */
.badge.bdGray{border:1px solid #666; background-color:#fff; color:#333;}
.badge.bdGreen{border:1px solid #00A685; background-color:#fff; color:#00A685;} .badge.bdYel{border:1px solid #F9BB0D; background-color:#fff; color:#F9BB0D;}
.badge.bdRed{border:1px solid #EF5D58;background-color:#fff; color:#EF5D58;} .badge.bdBlue{border:1px solid #0068B4; background-color:#fff; color:#0068B4;}

/* 사이즈 */
.badge.s{height:15px;  line-height:15px; font-size:111px !important; padding:0px 15px;}
.badge.m{height:25px; line-height:23px; font-size:13px !important; padding:0px 10px;}
.badge.l{height:30px; line-height:30px; font-size:14px !important;  padding:0px 10px; letter-spacing:0px; font-weight:bold;;}

/* 라운딩 */
.badge.r4{border-radius:4px;} .badge.r5{border-radius:5px;} .badge.r6{border-radius:6px;} .badge.r7{border-radius:7px;} 
.badge.r8{border-radius:8px;} .badge.r9{border-radius:9px;} .badge.r10{border-radius:10px;} .badge.r15{border-radius:15px;}
.badge.r20{border-radius:20px;} .badge.r25{border-radius:25px;} .badge.r30{border-radius:30px;} .badge.r50{border-radius:50%;}
/*======/   END BADGE   /======*/


/*=============================================
* FORM - 폼
=============================================*/
/* 공통 */
.inForm{display:inline-block; width:100%;height:47px;padding:6px 10px;font-size:14px;line-height:1.42857143;color:#666;background-color:#fff;background-image:none;border:1px solid #999;border-radius: 6px; transition:none; box-sizing:border-box; vertical-align:middle; outline:none; letter-spacing:-1px; transition:all 0.3s ease-out;}

/* textarea */
textarea:focus.inForm, input:focus.inForm, input[type]:focus.inForm, select:focus.inForm{border:1px solid #fe8b2d; box-shadow:none; outline:0 none;}
textarea.inForm::placeholder, input.inForm::placeholder, input[type].inForm::placeholder{color:#bbb; font-weight:400;}

/* 인풋 박스 */
input[type='text'], input[type='time']{display:inline-block; width:100%;height:47px;padding:6px 10px;font-size:14px;line-height:1.42857143;color:#666;background-color:#fff;background-image:none;border:1px solid #e5e5e5;border-radius: 6px; box-sizing:border-box; vertical-align:middle; outline:none; letter-spacing:-1px; transition:all 0.3s ease-out;}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {-webkit-appearence:none;  margin:0;}
input:focus, select:focus, option:focus, textarea:focus{outline: none; border:1px solid #fe8b2d;}
label{vertical-align:middle;}

/* placholder */
::-webkit-input-placeholder{color:#c0c0c0}
::-moz-placeholder{color:#c0c0c0} /* firefox 19+ */
:-ms-input-placeholder{color:#c0c0c0} /* ie */
input:-moz-placeholder{color:#c0c0c0}

/* 라디오 박스 */
.radioBox input[type='radio']{position:absolute; clip: rect(0,0,0,0); pointer-events:none;}
.radioBox input[type='radio'] + label {padding-left:28px; height:24px;display:inline-block;line-height:24px;background-repeat:no-repeat;background-position: 0 0;font-size:12px; vertical-align:middle; cursor:pointer; background-size:24px;}
.radioBox input[type='radio']:checked + label {background-position:0px -27px;}
.radioBox input[type='checkbox']{position:absolute; clip: rect(0,0,0,0); pointer-events:none;}
.radioBox input[type='checkbox'] + label {padding-left:28px; height:24px;display:inline-block;line-height:24px;background-repeat:no-repeat;background-position: 0 0;font-size:12px; vertical-align:middle; cursor:pointer; background-size:24px;}
.radioBox input[type='checkbox']:checked + label {background-position:0px -27px;}
.radioBox label{background-image:url('src/assets/icon/chk.png');-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}

/* 체크박스 */
/* .btn_chk{display: inline-block; position:relative; height:18px; overflow: hidden;}
.btn_chk input[type='checkbox'] {position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;}
.btn_chk input[type='checkbox'] + label{padding-left:20px; height:18px; display:inline-block; line-height:18px; background-repeat:no-repeat; background-position: 0 1px; font-size:12px; vertical-align:middle; cursor:pointer;}
.btn_chk input[type='checkbox']:checked + label{ background-position: 0 -24px; } 
.btn_chk label {background-image:url('src/assets/global/chk_bg.png'); -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; } */

/* 셀렉트 */
select.sel.a1{display:inline-block; width:100%;height:47px;padding:6px 10px;font-size:14px;border:1px solid #e5e5e5;border-radius: 6px; box-sizing:border-box;-moz-appearance:none;-webkit-appearance:none;appearance:none; outline:none; color:#666; background:url('src/assets/icon/arrow-dw3.png') no-repeat calc(100% - 10px) 50%; background-size:15px; padding-right:30px;}

/* 셀렉트 ie 9 이상 */
select::-ms-expand {display: none;}
/*======/   END FORM   /======*/

/* 주소 모달 */
.modal { display: none; position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 99; background-color:#00000073;}
.modal > section { width: 90%; max-width: 450px; margin: 0 auto; border-radius:6px; background-color: #fff; animation: modal-show 0.3s;} 
.modal > section > header { position: relative; padding: 16px 64px 16px 16px; background-color: #fe8b2d; font-weight: 700; color:#fff; border-radius:6px 6px 0 0;} 
.modal > section > header .btn.close{position: absolute; top:13px; right:5px; padding:0px; color:#fff; width:40px; height:40px;} 
.modal > section > header input[type='button'] { color:#fff; } 
.modal > section > footer {padding: 12px 16px; border-top:1px solid #ddd;}
.modal > section > footer.btnBox{text-align:center;}
.modal > section > footer.btnBox .btn{border-radius:6px; min-width:100px; height:45px; font-size:15px; font-weight:500;}
.modal > section > footer.btnBox .btn.on{background-color:#fe8b2d; color:#fff; margin-right:3px;}
.modal > section > footer.btnBox .btn.off{background-color:#fff; border:1px solid #a9a9ab; color:#666; margin-left:3px;}
.modal.openModal { display: flex; align-items: center; /* 팝업이 열릴때 스르륵 열리는 효과 */animation: modal-bg-show 0.3s; }
@keyframes modal-show { 
 from { opacity: 0; margin-top: -50px; } 
 to { opacity: 1; margin-top: 0; } 
}
@keyframes modal-bg-show { 
 from { opacity: 0; } 
 to { opacity: 1; } 
}

/* 운송비 모달 */
.modal > section > main .inBox{display: flex; overflow:hidden; padding:20px; max-height:650px; overflow-y:auto;}
.modal > section > main .inBox input{letter-spacing: 0px; flex: 1 0 0;}
.modal > section > main .btn.plus, .modal > section > main .btn.minus{background-color:#fff; background-size:85px; border:1px solid #bbb; height:45px;  width:45px; margin-left:5px;}