@charset "utf-8";

/*********************
** CSS Reset
**********************/
*{margin:0; padding:0; font:inherit; color:inherit;}
*, :after, :before {box-sizing:border-box;flex-shrink:0;}
:root{-webkit-tap-highlight-color:transparent;-webkit-text-size-adjust:100%;text-size-adjust:100%;cursor:default;line-height:1.5;overflow-wrap:break-word;word-break:break-word;tab-size:4}
html, body {height:100%;}


/************************************** 
** Basic Styling
***************************************/
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block;}
fieldset, img, abbr, acronym {border:0;} 
img, picture, video, canvas, svg, object, embed {max-width:100%;}
button {background:none;border:0;cursor:pointer;}
ol, ul {list-style:none;}
table {table-layout:fixed; border-collapse:collapse; border-spacing:0; border:0;} 
legend, caption {font-size:0; overflow:hidden; text-indent:-9999999px; height:0; width:0; line-height:0;} 
td,th {word-break:break-all}
ins {text-decoration:none;}
del {text-decoration:line-through;}
sub, sup {margin:0; padding:0;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote,q {quotes:"" "";}
hr {overflow:hidden; position:absolute; left:-9999em; top:0; width:0; height:0; font-size:0; line-height:0; visibility:hidden;} 
input {vertical-align:middle;}
select {vertical-align:middle;}
textarea {resize:none;}    
em {font-style:normal;}
a, a:link, a:visited, a:active {text-decoration:none;}
a:hover {text-decoration:none; color:#2b2b2b;}
i{font-style:normal;}


/* 배경 칼라 */
.bgGray{background-color:#F8F8F8;} .bgGray0{background-color:#F5F5F5;} .bgGray1{background-color:#eee;}  .bgGray2{background-color:#b5b5b5;} 
.bgBlue{background-color:#ECF5FF;} .bgBlue1{background-color:#e9f1f6;} .bgRed{background-color:#FEF4F4;}

/* 정렬 */
.tc{text-align:center;}  .tl{text-align:left !important;}  .tr{text-align:right !important;}
.vt{vertical-align:top !important;}  .vb{vertical-align:bottom !important;}  .vm{vertical-align:middle !important;} .vs{vertical-align:baseline !important;} .vin{vertical-align:inherit !important;}

/* float */
.fn{float:none !important;} .fl{float:left !important;} .fr{float:right !important;}

/* overflow */
.ovf{overflow:hidden;}  .ova{overflow:auto;}  .ovv{overflow:visible;}  .ovs{overflow:scroll;}

/* etc */
.dsb{display:block !important;}  .dsin{display:inline-block !important;}  .dsn{display:none;} .cb{clear:both;}  .bdn{border:none;}  .lhn{line-height:normal !important;}
.bbn{border-bottom:inherit !important;}  .bgn{background:none !important;}  .bgin{background-image:none !important;} .bdB{box-sizing:border-box;}

/* position */
.pa{position:absolute;}  .pr{position:relative;}  .pf{position:fixed;}  .ps{position:static;}
.le1{left:1px;} .le2{left:2px;} .le3{left:3px;} .le4{left:4px;} .le5{left:5px;} .le6{left:6px;} .le7{left:7px;} .le8{left:8px;} .le9{left:9px;} .le10{left:10px;}
.ri0{right:0px;} .ri2{right:2px;} .ri3{right:3px;} .ri4{right:4px;} .ri5{right:5px;} .ri6{right:6px;} .ri7{right:7px;} .ri8{right:8px;} .ri9{right:9px;} .ri10{right:10px;}
.t0{top:0px;} .t1{top:1px;} .t2{top:2px;} .t3{top:3px;} .t4{top:4px;} .t5{top:5px;} .t6{top:6px;} .t7{top:7px;} .t7{top:7px;} .t8{top:8px;} .t9{top:9px;} .t10{top:10px;}
.t11{top:11px;} .t12{top:12px;} .t13{top:13px;} .t14{top:14px;} .t15{top:15px;} .t16{top:16px;} .t17{top:17px;} .t18{top:18px;} .t19{top:19px;} .t20{top:20px;}
.b0{bottom:0px;} .b1{bottom:1px;} .b2{bottom:2px;} .b3{bottom:3px;} .b4{bottom:4px;} .b5{bottom:5px;} .b6{bottom:6px;} .b7{bottom:7px;} .b7{bottom:7px;} .b8{bottom:8px;}
.b9{bottom:9px;} .b10{bottom:10px;} .b11{bottom:11px;} .b12{bottom:12px;} .b13{bottom:13px;} .b14{bottom:14px;} .b15{bottom:15px;}

/************************************** 
** font
***************************************/
.tRed{color:#ff0000;} .tGreen{color:#00A685;} .tBlue{color:#0068B4;}
.tW{color:#fff;} .tGray{color:#333;} .tGray2{color:#555;} .tGray3{color:#666;} .tGray4{color:#8A8A8A;} .tGray5{color:#ababab;}

.fs12{font-size:12px !important;} .fs13{font-size:13px !important;} .fs14{font-size:14px !important;} .fs15{font-size:15px !important;} .fs16{font-size:16px !important;}
.fs17{font-size:17px !important;} .fs18{font-size:18px !important;} .fs19{font-size:19px !important;} .fs20{font-size:20px !important;} .fs21{font-size:21px !important;}
.fs22{font-size:22px !important;} .fs23{font-size:23px !important;} .fs24{font-size:24px !important;} .fs25{font-size:25px !important;} .fs26{font-size:26px !important;}
.fs27{font-size:27px !important;} .fs28{font-size:28px !important;} .fs29{font-size:29px !important;} .fs30{font-size:30px !important;} .fs31{font-size:31px !important;}
.fs32{font-size:32px !important;} .fs33{font-size:33px !important;} .fs34{font-size:34px !important;} .fs35{font-size:35px !important;} .fs36{font-size:36px !important;}
.fs37{font-size:37px !important;} .fs38{font-size:38px !important;} .fs39{font-size:39px !important;} .fs40{font-size:40px !important;} .fs41{font-size:41px !important;}
.fs42{font-size:42px !important;} .fs43{font-size:43px !important;} .fs44{font-size:44px !important;} .fs45{font-size:45px !important;} .fs50{font-size:50px !important;}

.fw100{font-weight:100;}  .fw200{font-weight:200;} .fw300{font-weight:300;} .fw400{font-weight:400;} .fw500{font-weight:500;} .fw600{font-weight:600;} 
.fw700{font-weight:700;}  .fw800{font-weight:800;} .fw900{font-weight:900;}
.les03{letter-spacing:-0.3px;} .letS04{letter-spacing:-0.4px;} .letS05{letter-spacing:-0.5px;} .letS06{letter-spacing:-0.6px;} .letS08{letter-spacing:-0.8px;} .letS09{letter-spacing:-0.9px;} 
.letS1{letter-spacing:-1px;} .letS2{letter-spacing:-2px;} .letS3{letter-spacing:-3px;}

.fsn{font-style:normal;} .fsi{font-style:italic;} .fso{font-style:oblique;} .fsb{font-weight:bold;} .b{font-weight:bold;}

.txdn{text-decoration:none;}  .txdudl{text-decoration:underline;}  .txdl{text-decoration:line-through;}  .txdtl{text-decoration:overline;} 

.lh10{line-height:10px;} .lh13{line-height:13px;} .lh14{line-height:14px;} .lh15{line-height:15px;} .lh16{line-height:16px;} .lh17{line-height:17px;} .lh18{line-height:18px;} .lh19{line-height:29px;}
.lh20{line-height:20px;} .lh23{line-height:23px;} .lh24{line-height:24px;} .lh25{line-height:25px;} .lh26{line-height:26px;} .lh27{line-height:27px;} .lh28{line-height:28px;} .lh39{line-height:29px;}
.lh30{line-height:20px;} .lh33{line-height:33px;} .lh34{line-height:34px;} .lh35{line-height:35px;} .lh36{line-height:36px;} .lh37{line-height:37px;} .lh38{line-height:38px;} .lh39{line-height:39px;}
/****  // font //  ****/

/************************************** 
** width
***************************************/
.wp5{width:5%;}  .wp10{width:10%;}  .wp15{width:15%;} .wp20{width:20%;} .wp21{width:21%;} .wp22{width:22%;} .wp23{width:23%;} .wp24{width:24%;} .wp25{width:25%;} 
.wp26{width:26%;} .wp27{width:27%;}.wp28{width:28%;} .wp29{width:29%;}.wp30{width:30%}  .wp31{width:31%} .wp32{width:32%} .wp33{width:33%} .wp34{width:34%} 
.wp35{width:35%;} .wp36{width:36%;} .wp37{width:37%;} .wp38{width:38%;} .wp39{width:39%;} .wp40{width:40%;} .wp45{width:45%} .wp46{width:46%} .wp47{width:47%} 
.wp48{width:48%} .wp49{width:49%} .wp50{width:50%;} .wp54{width:54%;} .wp55{width:55%;} .wp60{width:60%;}  .wp65{width:65%;} .wp70{width:70%;}.wp75{width:75%;} 
.wp80{width:80%;}  .wp85{width:85%;} .wp90{width:90%;} .wp95{width:95%;} .wp100{width:100% !important;}

.w10{width:10px;} .w11{width:11px;} .w12{width:12px;} .w12{width:13px;} .w14{width:14px;} .w15{width:15px;} .w20{width:20px;} .w30{width:30px;} .w40{width:40px;} .w50{width:50px;}
.w60{width:60px;} .w70{width:70px;} .w75{width:75px;} .w80{width:80px;} .w85{width:85px;} .w90{width:90px;} .w100{width:100px;}  .w110{width:110px;} .w115{width:115px;} 
.w120{width:120px;} .w125{width:125px;} .w130{width:130px;} .w135{width:135px;} .w140{width:140px;} .w150{width:150px;} .w155{width:155px;} .w160{width:160px;} .w165{width:165px;} 
.w170{width:170px;} .w180{width:180px;} .w190{width:190px;} .w200{width:200px;} .w210{width:210px;} .w215{width:215px;} .w220{width:220px;} .w225{width:225px;} .w230{width:230px;} 
.w235{width:235px;} .w250{width:250px;} .w260{width:260px;} .w270{width:270px;} .w280{width:280px;} .w290{width:290px;} .w300{width:300px;} .w350{width:350px;} .w400{width:400px;} 
.w450{width:450px;} .w470{width:470px;} .w480{width:480px;} .w490{width:490px;} .w500{width:500px;} .w510{width:510px;} .w520{width:520px;} .w530{width:530px;} .w540{width:540px;} 
.w550{width:550px;} .w560{width:560px;} .w560{width:500px;} .w570{width:570px;} .w600{width:600px;} .w650{width:650px;} .w700{width:700px;} .w750{width:750px;} .w800{width:800px;} 
.w850{width:850px;} .w900{width:900px;}
/****  // width //  ****/

/************************************** 
** height
***************************************/
.hp5{height:5%;}  .hp10{height:10%;}  .hp15{height:15%;}  .hp20{height:20%;}  .hp25{height:25%;}  .hp30{height:30%} .hp35{height:35%;} .hp40{height:40%;} .hp45{height:45%} .hp50{height:50%;} 
.hp55{height:55%;} .hp60{height:60%;} .hp65{height:65%;} .hp70{height:70%;} .hp75{height:75%;} .hp80{height:80%;}  .hp85{height:85%;} .hp90{height:90%;} .hp95{height:95%;} .hp100{height:100%;}

.h10{height:10px;} .h20{height:20px;} .h30{height:30px;} .h40{height:40px;} .h50{height:50px;} .h60{height:60px;} .h70{height:70px;} .h75{height:75px;} .h80{height:80px;} .h90{height:90px;} 
.h100{height:100px;} .h110{height:110px;} .h115{height:115px;} .h120{height:120px;} .h130{height:130px;} .h140{height:140px;} .h150{height:150px;} .h155{height:155px;} .h160{height:160px;} 
.h170{height:170px;} .h180{height:180px;} .h190{height:190px;} .h200{height:200px;} .h210{height:210px;} .h215{height:215px;} .h220{height:220px;} .h225{height:225px;} .h230{height:230px;} 
.h235{height:235px;} .h250{height:250px;} .h300{height:300px;} .h350{height:350px;} .h400{height:400px;} .h450{height:450px;} .h500{height:500px;} .h550{height:550px;} .h600{height:600px;} 
.h650{height:650px;} .h700{height:700px;} .h750{height:750px;} .h800{height:800px;} .h850{height:850px;} .h900{height:900px;}

.mh10{min-height:10px;} .mh20{min-height:20px;} .mh30{min-height:30px;} .mh40{min-height:40px;} .mh50{min-height:50px;} .mh60{min-height:60px;} .mh70{min-height:70px;}
.mh80{min-height:80px;} .mh90{min-height:90px;} .mh100{min-height:100px;} .mh110{min-height:110px;} .mh120{min-height:120px;} .mh130{min-height:130px;}
.mh140{min-height:140px;} .mh150{min-height:150px;} .mh155{min-height:155px;} .mh160{min-height:160px;} .mh170{min-height:170px;} .mh180{min-height:180px;} .mh190{min-height:190px;} 
.mh200{min-height:200px;} .mh210{min-height:210px;} .mh215{min-height:215px;} .mh220{min-height:220px;} .mh225{min-height:225px;} .mh230{min-height:230px;} .mh235{min-height:235px;} 
.mh250{min-height:250px;} .mh300{min-height:300px;} .mh350{min-height:350px;} .mh400{min-height:400px;} .mh450{min-height:450px;} .mh500{min-height:500px;} .mh550{min-height:550px;}
.mh600{min-height:600px;} .mh650{min-height:650px;} .mh700{min-height:700px;} .mh750{min-height:750px;} .mh800{min-height:800px;} .mh850{min-height:850px;} .mh900{min-height:900px;}
/****  // width //  ****/

/************************************** 
** margin
***************************************/
.mg-auto{margin:0px auto;} .mgb0{margin-bottom:0px !important;} .mgt0{margin-top:0px !important;} .mgr0{margin-right:0px !important;} .mgl0{margin-left:0px !important;}

.mgt1{margin-top:1px !important;} .mgt2{margin-top:2px !important;} .mgt3{margin-top:3px !important;} .mgt4{margin-top:4px !important;} .mgt5{margin-top:5px !important;} 
.mgt6{margin-top:6px !important;} .mgt7{margin-top:7px !important;} .mgt8{margin-top:8px !important;} .mgt9{margin-top:9px !important;} .mgt10{margin-top:10px !important;} 
.mgt15{margin-top:15px !important;} .mgt20{margin-top:20px !important;} .mgt25{margin-top:25px !important;} .mgt30{margin-top:30px !important;} .mgt35{margin-top:35px !important;}
.mgt40{margin-top:40px !important;} .mgt45{margin-top:45px !important;} .mgt50{margin-top:50px !important;} .mgt55{margin-top:55px !important;} .mgt60{margin-top:60px !important;} 
.mgt65{margin-top:65px !important;} .mgt70{margin-top:70px !important;} .mgt75{margin-top:75px !important;} .mgt80{margin-top:80px !important;} .mgt85{margin-top:85px !important;}
.mgt90{margin-top:90px !important;} .mgt95{margin-top:95px !important;} .mgt100{margin-top:100px !important;} .mgt105{margin-top:105px !important;} .mgt110{margin-top:110px !important;}

.mgb1{margin-bottom:1px !important;} .mgb2{margin-bottom:2px !important;} .mgb3{margin-bottom:3px !important;} .mgb4{margin-bottom:4px !important;} .mgb5{margin-bottom:5px !important;} 
.mgb6{margin-bottom:6px !important;} .mgb7{margin-bottom:7px !important;} .mgb8{margin-bottom:8px !important;} .mgb9{margin-bottom:9px !important;} .mgb10{margin-bottom:10px !important;}
.mgb15{margin-bottom:15px !important;} .mgb20{margin-bottom:20px !important;} .mgb25{margin-bottom:25px !important;} .mgb30{margin-bottom:30px !important;} .mgb35{margin-bottom:35px !important;}
.mgb40{margin-bottom:40px !important;} .mgb45{margin-bottom:45px !important;} .mgb50{margin-bottom:50px !important;} .mgb55{margin-bottom:55px !important;} .mgb60{margin-bottom:60px !important;} 
.mgb65{margin-bottom:65px !important;} .mgb70{margin-bottom:70px !important;} .mgb75{margin-bottom:75px !important;} .mgb80{margin-bottom:80px !important;} .mgb85{margin-bottom:85px !important;} 
.mgb90{margin-bottom:90px !important;} .mgb95{margin-bottom:95px !important;} .mgb100{margin-bottom:100px !important;} .mgb105{margin-bottom:105px !important;}
.mgb110{margin-bottom:110px !important;}

.mgr1{margin-right:1px !important;} .mgr2{margin-right:2px !important;} .mgr3{margin-right:3px !important;} .mgr4{margin-right:4px !important;} .mgr5{margin-right:5px !important;} 
.mgr6{margin-right:6px !important;} .mgr7{margin-right:7px !important;} .mgr8{margin-right:8px !important;} .mgr9{margin-right:9px !important;} .mgr10{margin-right:10px !important;}
.mgr15{margin-right:15px !important;} .mgr20{margin-right:20px !important;} .mgr25{margin-right:25px !important;} .mgr30{margin-right:30px !important;} .mgr35{margin-right:35px !important;}
.mgr40{margin-right:40px !important;} .mgr45{margin-right:45px !important;} .mgr50{margin-right:50px !important;} .mgr55{margin-right:55px !important;} .mgr60{margin-right:60px !important;}
.mgr65{margin-right:65px !important;} .mgr70{margin-right:70px !important;} .mgr75{margin-right:75px !important;} .mgr80{margin-right:80px !important;} .mgr85{margin-right:85px !important;}
.mgr90{margin-right:90px !important;} .mgr95{margin-right:95px !important;} .mgr100{margin-right:100px !important;} .mgr105{margin-right:105px !important;} .mgr110{margin-right:110px !important;}

.mgl1{margin-left:1px !important;} .mgl2{margin-left:2px !important;} .mgl3{margin-left:3px !important;} .mgl4{margin-left:4px !important;} .mgl5{margin-left:5px !important;}
.mgl6{margin-left:6px !important;} .mgl7{margin-left:7px !important;} .mgl8{margin-left:8px !important;} .mgl9{margin-left:9px !important;} .mgl10{margin-left:10px !important;}
.mgl15{margin-left:15px !important;} .mgl20{margin-left:20px !important;} .mgl25{margin-left:25px !important;} .mgl30{margin-left:30px !important;} .mgl35{margin-left:35px !important;}
.mgl40{margin-left:40px !important;} .mgl45{margin-left:45px !important;} .mgl50{margin-left:50px !important;} .mgl55{margin-left:55px !important;} .mgl60{margin-left:60px !important;}
.mgl65{margin-left:65px !important;} .mgl70{margin-left:70px !important;} .mgl75{margin-left:75px !important;} .mgl80{margin-left:80px !important;} .mgl85{margin-left:85px !important;}
.mgl90{margin-left:90px !important;} .mgl95{margin-left:95px !important;} .mgl100{margin-left:100px !important;} .mgl105{margin-left:105px !important;} .mgl110{margin-left:110px !important;}

.mg1{margin:1px !important;} .mg2{margin:2px !important;} .mg3{margin:3px !important;} .mg4{margin:4px !important;} .mg5{margin:5px !important;} .mg6{margin:6px !important;} 
.mg7{margin:7px !important;} .mg8{margin:8px !important;} .mg9{margin:9px !important;} .mg10{margin:10px !important;} .mg11{margin:11px !important;} .mg12{margin:12px !important;} 
.mg13{margin:13px !important;} .mg14{margin:14px !important;} .mg15{margin:15px !important;} .mg16{margin:16px !important;} .mg17{margin:17px !important;} .mg18{margin:18px !important;} 
.mg19{margin:19px !important;} .mg20{margin:20px !important;} .mg20{margin:20px !important;} .mg25{margin:25px !important;} .mg30{margin:30px !important;} .mg35{margin:35px !important;} 
.mg40{margin:40px !important;} .mg45{margin:45px !important;} .mg50{margin:50px !important;} .mg55{margin:55px !important;} .mg60{margin:60px !important;} .mg65{margin:65px !important;} 
.mg70{margin:70px !important;} .mg75{margin:75px !important;} .mg80{margin:80px !important;} .mg85{margin:85px !important;}.mg90{margin:90px !important;} .mg95{margin:95px !important;} 
.mg100{margin:100px !important;} .mg105{margin:105px !important;} .mg110{margin:110px !important;} .mg115{margin:115px !important;}

.mgx5{margin:0px 5px !important;} .mgx10{margin:0px 10px !important;} .mgx15{margin:0px 15px !important;} .mgx20{margin:0px 20px !important;} .mgx25{margin:0px 25px !important;} 
.mgx30{margin:0px 30px !important;} .mgx35{margin:0px 35px !important;} .mgx40{margin:0px 40px !important;} .mgx45{margin:0px 45px !important;} .mgx50{margin:0px 50px !important;} 
.mgx55{margin:0px 55px !important;} .mgx60{margin:0px 60px !important;} .mgx65{margin:0px 65px !important;} .mgx70{margin:0px 70px !important;} .mgx75{margin:0px 75px !important;} 
.mgx80{margin:0px 80px !important;} .mgx85{margin:0px 85px !important;} .mgx90{margin:0px 90px !important;} .mgx95{margin:0px 95px !important;} .mgx100{margin:0px 100px !important;} 

.mgy5{margin:5px 0px !important;} .mgy10{margin:10px 0px !important;} .mgy15{margin:15px 0px !important;} .mgy20{margin:20px 0px !important;} .mgy25{margin:25px 0px !important;}
.mgy30{margin:30px 0px !important;} .mgy35{margin:35px 0px !important;} .mgy40{margin:40px 0px !important;} .mgy45{margin:45px 0px !important;} .mgy50{margin:50px 0px !important;} 
.mgy55{margin:55px 0px !important;} .mgy60{margin:60px 0px !important;} .mgy65{margin:65px 0px !important;} .mgy70{margin:70px 0px !important;} .mgy75{margin:75px 0px !important;} 
.mgy80{margin:80px 0px !important;} .mgy85{margin:85px 0px !important;} .mgy90{margin:90px 0px !important;} .mgy95{margin:95px 0px !important;} .mgy100{margin:100px 0px !important;} 
/****  // margin //  ****/

/************************************** 
** padding
***************************************/
.pd0{padding:0px !important;} .pdb0{padding-bottom:0px !important;} .pdt0{padding-top:0px !important;} .pdr0{padding-right:0px !important;} .pdl0{padding-left:0px !important;}

.pdt1{padding-top:1px !important;} .pdt2{padding-top:2px !important;} .pdt3{padding-top:3px !important;} .pdt4{padding-top:4px !important;} .pdt5{padding-top:5px !important;} 
.pdt6{padding-top:6px !important;} .pdt7{padding-top:7px !important;} .pdt8{padding-top:8px !important;} .pdt9{padding-top:9px !important;} .pdt10 {padding-top:10px !important;} 
.pdt15{padding-top:15px !important;} .pdt20{padding-top:20px !important;} .pdt25{padding-top:25px !important;} .pdt30{padding-top:30px !important;} .pdt35{padding-top:35px !important;} 
.pdt40{padding-top:40px !important;} .pdt45{padding-top:45px !important;} .pdt50{padding-top:50px !important;} .pdt55{padding-top:55px !important;} .pdt60{padding-top:60px !important;} 
.pdt65{padding-top:65px !important;} .pdt70{padding-top:70px !important;} .pdt75{padding-top:75px !important;} .pdt80{padding-top:80px !important;} .pdt85{padding-top:85px !important;} 
.pdt90{padding-top:90px !important;} .pdt95{padding-top:95px !important;} .pdt100{padding-top:100px !important;} .pdt105{padding-top:105px !important;} .pdt110{padding-top:110px !important;}

.pdb1{padding-bottom:1px !important;} .pdb2{padding-bottom:2px !important;} .pdb3{padding-bottom:3px !important;} .pdb4{padding-bottom:4px !important;} .pdb5{padding-bottom:5px !important;} 
.pdb6{padding-bottom:6px !important;} .pdb7{padding-bottom:7px !important;} .pdb8{padding-bottom:8px !important;} .pdb9{padding-bottom:9px !important;} .pdb10 {padding-bottom:10px !important;} 
.pdb15{padding-bottom:15px !important;} .pdb20{padding-bottom:20px !important;} .pdb25{padding-bottom:25px !important;} .pdb30{padding-bottom:30px !important;} 
.pdb35{padding-bottom:35px !important;}.pdb40{padding-bottom:40px !important;} .pdb45{padding-bottom:45px !important;} .pdb50{padding-bottom:50px !important;} 
.pdb55{padding-bottom:55px !important;} .pdb60{padding-bottom:60px !important;}.pdb65{padding-bottom:65px !important;} .pdb70{padding-bottom:70px !important;} 
.pdb75{padding-bottom:75px !important;} .pdb80{padding-bottom:80px !important;} .pdb85{padding-bottom:85px !important;}.pdb90{padding-bottom:90px !important;} 
.pdb95{padding-bottom:95px !important;} .pdb100{padding-bottom:100px !important;} .pdb105{padding-bottom:105px !important;} .pdb110{padding-bottom:110px !important;}

.pdr1{padding-right:1px !important;} .pdr2{padding-right:2px !important;} .pdr3{padding-right:3px !important;} .pdr4{padding-right:4px !important;} .pdr5{padding-right:5px !important;} 
.pdr6{padding-right:6px !important;} .pdr7{padding-right:7px !important;} .pdr8{padding-right:8px !important;} .pdr9{padding-right:9px !important;} .pdr10 {padding-right:10px !important;} 
.pdr15{padding-right:15px !important;} .pdr20{padding-right:20px !important;} .pdr25{padding-right:25px !important;} .pdr30{padding-right:30px !important;} .pdr35{padding-right:35px !important;}
.pdr40{padding-right:40px !important;} .pdr45{padding-right:45px !important;} .pdr50{padding-right:50px !important;} .pdr55{padding-right:55px !important;} .pdr60{padding-right:60px !important;}
.pdr65{padding-right:65px !important;} .pdr70{padding-right:70px !important;} .pdr75{padding-right:75px !important;} .pdr80{padding-right:80px !important;} .pdr85{padding-right:85px !important;}
.pdr90{padding-right:90px !important;} .pdr95{padding-right:95px !important;} .pdr100{padding-right:100px !important;} .pdr105{padding-right:105px !important;} 
.pdr110{padding-right:110px !important;}

.pdl1{padding-left:1px !important;} .pdl2{padding-left:2px !important;} .pdl3{padding-left:3px !important;} .pdl4{padding-left:4px !important;} .pdl5{padding-left:5px !important;} 
.pdl6{padding-left:6px !important;} .pdl7{padding-left:7px !important;} .pdl8{padding-left:8px !important;} .pdl9{padding-left:9px !important;} .pdl10 {padding-left:10px !important;} 
.pdl15{padding-left:15px !important;} .pdl20{padding-left:20px !important;} .pdl25{padding-left:25px !important;} .pdl30{padding-left:30px !important;} .pdl35{padding-left:35px !important;}
.pdl40{padding-left:40px !important;} .pdl45{padding-left:45px !important;} .pdl50{padding-left:50px !important;} .pdl55{padding-left:55px !important;} .pdl60{padding-left:60px !important;}
.pdl65{padding-left:65px !important;} .pdl70{padding-left:70px !important;} .pdl75{padding-left:75px !important;} .pdl80{padding-left:80px !important;} .pdl85{padding-left:85px !important;}
.pdl90{padding-left:90px !important;} .pdl95{padding-left:95px !important;} .pdl100{padding-left:100px !important;} .pdl105{padding-left:105px !important;} .pdl110{padding-left:110px !important;}

.pd5{padding:5px !important;} .pd10{padding:10px !important;} .pd15{padding:15px !important;} .pd20{padding:20px !important;} .pd20{padding:20px !important;} .pd25{padding:25px !important;} 
.pd30{padding:30px !important;} .pd35{padding:35px !important;} .pd40{padding:40px !important;} .pd45{padding:45px !important;} .pd50{padding:50px !important;} .pd55{padding:55px !important;}
.pd60{padding:60px !important;} .pd65{padding:65px !important;} .pd70{padding:70px !important;} .pd75{padding:75px !important;} .pd80{padding:80px !important;} .pd85{padding:85px !important;} 
.pd90{padding:90px !important;} .pd95{padding:95px !important;} .pd100{padding:100px !important;} .pd105{padding:105px !important;} .pd110{padding:110px !important;} 
.pd115{padding:115px !important;}

.pdx5{padding:0px 5px !important;} .pdx10{padding:0px 10px !important;} .pdx15{padding:0px 15px !important;} .pdx20{padding:0px 20px !important;} .pdx25{padding:0px 25px !important;}
.pdx30{padding:0px 30px !important;} .pdx35{padding:0px 35px !important;} .pdx40{padding:0px 40px !important;} .pdx45{padding:0px 45px !important;} .pdx50{padding:0px 50px !important;} 
.pdx55{padding:0px 55px !important;} .pdx60{padding:0px 60px !important;} .pdx65{padding:0px 65px !important;} .pdx70{padding:0px 70px !important;} .pdx75{padding:0px 75px !important;} 
.pdx80{padding:0px 80px !important;} .pdx85{padding:0px 85px !important;} .pdx90{padding:0px 90px !important;} .pdx95{padding:0px 95px !important;} .pdx100{padding:0px 100px !important;} 

.pdy5{padding:5px 0px !important;} .pdy10{padding:10px 0px !important;} .pdy15{padding:15px 0px !important;} .pdy20{padding:20px 0px !important;} .pdy25{padding:25px 0px !important;} 
.pdy30{padding:30px 0px !important;} .pdy35{padding:35px 0px !important;} .pdy40{padding:40px 0px !important;} .pdy45{padding:45px 0px !important;}	.pdy50{padding:50px 0px !important;}
.pdy55{padding:55px 0px !important;} .pdy60{padding:60px 0px !important;} .pdy65{padding:65px 0px !important;} .pdy70{padding:70px 0px !important;} .pdy75{padding:75px 0px !important;} 
.pdy80{padding:80px 0px !important;} .pdy85{padding:85px 0px !important;} .pdy90{padding:90px 0px !important;} .pdy95{padding:95px 0px !important;} .pdy100{padding:100px 0px !important;} 
/**** // padding // ****/